<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Allocation Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    <!--complete navbar start -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Employee Allocation Management System</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employees}">EAMS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--complete navbar ends -->
    <div class="container">
        <br>
        <div th:if="${not #lists.isEmpty(search)}">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>WON</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alloc: ${search}">
                        <td th:text="${alloc.won}"></td>
                        <td th:text="${alloc.startDate}"></td>
                        <td th:text="${alloc.endDate}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(search)}">
            <nav class="navbar navbar-light bg-dark">
                <h1><span class="badge badge-pill badge-warning">Employee or Allocation Not
                        found!!</span></h1>
            </nav>
        </div>
    </div>

</body>

</html>